<!DOCTYPE html>
<html>
<head>
  <title>Shamba Afrik - Listings</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">

  <style>
    body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table {
  margin-top: 20px;
}

.table th, .table td {
  text-align: left;
  vertical-align: middle;
}

.table img {
  border-radius: 50%;
}
  </style>
</head>
<body>
    <div class="admin-header">
        <div class="logo">
          <p>Shamba<span>Afrik</span></p>
      </div>
        <h1>Admin</h1>
      </div>
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Shamba Afrik</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Listings <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h1 class="display-4">Listings</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Category</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        <% listings.forEach(listing => { %>
          <tr>
            <td><%= listing.name %></td>
            <td><%= listing.description %></td>
            <td><%= listing.price %></td>
            <td><%= listing.quantity %></td>
            <td><%= listing.category %></td>
            <td><img src="/uploads/<%= listing.imageUrl %>" alt="<%= listing.name %>" width="50" height="50"></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>